.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
  padding-bottom: 1em;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  width: 130px;
  height: 190px;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.show-details {
  background-color: #60ac5d;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
}

.book-preview {
  background-color: #60ac5d;
  color: #fff;
  font-size: 14px;
  padding: 1em 2em;
  text-decoration: none;
}

.book-details a:hover {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
